@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Francois+One);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);

body {
	background-image: url(../img/pizza1.jpg);
	background-position: left top;
	font-family:  'Open Sans Condensed', sans-serif;
	font-size: 25px;
	padding: 10px;
}

.name{
	font-family: 'Rock Salt', cursive;
	font-size: 350%;
	color: #c69453;
	float: top;
}



.content-box { /* class selector */
	width: 50%; /* when it changes, the width changes */
	margin: 0 auto; /* take horizontal center the box */
	box-shadow: 2px 2px 6px #555; /* 6. how much it blurred*/
	padding: 10px 30px;
	background: #111;
}

header {
	bottom: 15px;
	left: 15px;
	max-width: 250px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: fixed;
}

.line{
	border-top: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
	margin-bottom: 5px;
	font-size: 30px;
}

header{
	color: #FFF;
	font-size: 70%;
}


.motto {
	margin-left: 10px;
	padding: 10px;
}

nav ul {
	width: 97%;
	border-radius: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-size: 110%;
}

nav li {
	display: inline-block;
}


nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #F00;
	border-radius: 5px;
}

.time{

	color: #FFF;
	margin-top: 10px;
}

h3{
	color: #FFF;
	margin-top: 10px;
}

p{
	color: #FFF;
	margin-top: 10px;

}

.info{
	padding: 10px;
	margin-top: 20px;
}

a{
	text-decoration: none;
}

.order{
	margin-right: 15px;
	width: 155px;
	height: 155px;
	float:left;
}


.high{
	border-top: 5px dotted #ffffff;
	border-bottom: 5px dotted #ffffff;
}

h2{
	margin-top: 5px;
	background-color: #c69453;
	font-size: 120%;
	font-weight: bold;
}

.smaller{
	font-size: 70%;
}

.size{
	color: #c69453;
}

h3{
	color: #c69453;
}


.about{
	font-size: 80%;
	margin: 5px;

}

.oven{
	margin-right: 15px;
	width: 155px;
	height: 155px;

}

.make{
	margin-right: 15px;
	width: 155px;
	height: 155px;
}

.lastPara{
	margin-bottom: 20px;
}

.logo{
	width: 90px;
	height: 90px;
	float: right;
	padding: 10px;
}

footer{
	margin-top: 40px;
	border-width:1px;	
	border-top-style:solid;
	border-color: #DEDEDE;
	font-size: 80%;
	font-style: italic;
	padding-top: 10px;
	color: #FFF;
}